<link rel="stylesheet" href="styles/main.css">

body {

   font-family: Arial, Helvetica, sans-serif;  font-size: 100%; }

h1 {

  font-size: 200%; }

header {

   font-size: 200%;
<h1 style="font-size: 200%; color: blue;">Shape Up!</h1> }

section {

   




#copyright { font-size: 80%; } 

.blue { color: blue; }